<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>
<p>bar-di-zones works!</p>

<div>
  Unidade Manual : {{ ConfigManual.unidadeId }} - Token Manual : {{ ConfigManual.unidadeToken }}
</div>

<div>
  Dados Unidade (service) 1: {{ dadosUnidade }}
</div>

<br><br><br><br>

  <p>Progress: {{progress}}%</p>
  <p *ngIf="progress >=100" > Done processing{{label}} of Angular zone! </p>

  <a href="javascript:void(0)"  class="btn btn-success" (click)="processWithinAngularZone()">Procesar dentro da zona do Angular</a>
  <a href="javascript:void(0)" class= "btn btn-danger" (click)="processOutsideOfAngularZone()"> Processar fora da zona do Angular  </a>



